@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard-Regular';
  font-size: 10px;
}

.h1-title{
  font-family: 'Noto Sans KR', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-wave {
  animation: wave 2s infinite;
}

/* 기존 CSS 내용 유지 */

@keyframes wave-vertical {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes wave-horizontal {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(10px); }
}

@keyframes wave-diagonal {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(5px, -5px); }
}

@keyframes wave-circular {
  0% { transform: rotate(0deg) translateX(5px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}

.animate-wave-vertical {
  animation: wave-vertical 2s infinite;
}

.animate-wave-horizontal {
  animation: wave-horizontal 2s infinite;
}

.animate-wave-diagonal {
  animation: wave-diagonal 2s infinite;
}

.animate-wave-circular {
  animation: wave-circular 4s linear infinite;
}

@keyframes slide-left-to-right {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* .animate-slide {
  display: inline-block;
  white-space: nowrap;
  animation: slide-left-to-right 55s linear infinite;
} */

.big-title{
  -webkit-text-stroke: 2px rgb(241 140 140);
  color: transparent;
}

.mv-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / 74%);
}


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font{
  font-family: 'EF_jejudoldam';
}

p{
  font-family:'NexonLv1Gothic';
}

/*  */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgBox {clip-path:inset(30%);}
.imgBox:before {content: '';width:140px;height: 140px;border-radius: 100%;border: 1px solid #fff;background: url(/public/readMore2.png) no-repeat center/30px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%) rotate(45deg);z-index: 2;transition: all .3s;}
.imgBox:after {content: '';width: 0%;height: 0%;border-radius: 100%;background: #fff url(/public/readMore3.png) no-repeat center/130px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 1;animation-name:spin2;animation-duration: 10s;animation-timing-function: linear;animation-iteration-count: infinite;}
.imgBox:hover img {filter: brightness(50%); transition: .3s;}
.imgBox:hover::before {opacity: 1;}
.imgBox:hover::after {opacity: 1;width: 140px;height: 140px;}

@keyframes spin2 {
  0% {transform: translate(-50%,-50%) rotate(0deg);}
  100% {transform: translate(-50%,-50%) rotate(360deg);}
}

.layout{
  min-height: 100vh;
}
@media screen and (max-width:1300px) {
  .layout{
    height: auto;
  }
}
@media screen and (max-width:1190px) {
  .layout{
    flex-direction: column;
  }
}

.endingDeac{
  max-width: 739px;
  white-space: break-spaces;
}

@media screen and (max-width:768px) {
  .Emog-img{
    max-width: 300px;
  }
}

/* 새로추가 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* * {
  font-family: "JalnanGothic", "Pretendard-Regular","Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
} */

a{
  color: #fff;
  text-decoration: none;
}

body {
  color: #fff;
  font-family:  "Pretendard-Regular","Noto Sans KR", sans-serif;
  font-weight: 300;
  background-color: #333;
}

.title{font-family: "JalnanGothic","Noto Sans KR", sans-serif;}

/* GSAP 공통 */
.parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax__item__num {
  font-size: 3vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-weight: 100;
  z-index: 100;
  line-height: 1;
  font-family: 'Pretendard-Regular';
}

/* #section1 시작 */
#section1 .parallax__item__text {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
}

#section1 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

/* section2 시작 */
#section2{
  background-color: #111;
}

#section2 .parallax__item__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  padding: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
}

#section2 .colorText{
  color: rgb(22 163 74);
}

#section2 .textItem{
  font-size: 6rem;
}

.se2Img{
  border-radius: 84px;
  max-width: 103px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  box-shadow: 5px 3px 7px 0px rgb(255 255 255 / 66%);
}

@media screen and (max-width:768px) {
  .se2Img{
    max-width: 50px;
  }
}

.se2Img__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#parallax__cont {
  overflow: hidden;
}

#horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
}

#horizontal > section {
  width: 100%;
}

#section3{
  background-color: #1f1f1f;
  color: #fff;
}

#section3 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section3.parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10rem;
}

.soriaImag {
  object-fit: cover;
  /* height: 260px;
  width: 100%; */
}

#section4.parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section4.parallax__item .item{
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

#section5.parallax__item{
  padding: 1rem;
  background-color: #0B1A2E;
  color: #333;
}

#section5 .title-l{
  word-wrap: break-word;
  word-break: keep-all;
}

#section5 .item{
  width: 100%;
}

#section5 .list-bg{
  background-color: rgb(241 241 241 / 95%);
  color: #333;
  max-width: 900px;
}

#Section6 {
  background-color: #fff;
  color: #333;
}

#Section6.parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #section6 .parallax__item__img {
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  background-color: #fff;
  background-size: cover;
  background-position: center;
} */

#Section6 .parallax__item__img {
  width: auto;
  height: 100px;
  border-radius: 50px;
  font-weight: bold;
  background-color: transparent;
  color: #333;
  margin: 1vw;
  font-size: 3rem;
  background-size: cover;
  background-position: center;
  text-transform: capitalize;
}

@media screen and (max-width:768px) {
  #Section6 .parallax__item__img{
    font-size: 1.4rem;
  }
}

.project-list-item{
  position: relative;
}

.img-wrap{
  position: relative;
}

.img-wrap .link{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  transition: all 0.5s;
  width: 100px;
  border-radius: 30px;
  padding: 10px;
  text-align: right;
  padding-right: 16px;
  color: #ffffff;
  background: #0075c2;
  opacity: 0;
}

.project-list-item:hover  .img-wrap .link{
  opacity: 1;
  transition: all 0.5s;
}


